@media screen and (max-width: 899px) {
  body {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer"; }
  nav {
    grid-area: nav; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  main .coder {
    color: black;
    font-size: 3em;
    font-family: 'Barlow Condensed', sans-serif; }
  main .diseno {
    color: black;
    font-size: 3em;
    font-family: 'Dancing Script'; }
  main p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    color: black; }
  .item {
    padding: 10px;
    margin: 5px; }
  .charlemos {
    justify-content: left;
    justify-items: left;
    padding: 15px;
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif; }
  .btn-primary {
    justify-content: center;
    left: 100px; }
  .navbar {
    justify-content: end; }
  .tam {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center; }
  .pants {
    display: grid;
    justify-content: center; }
  .pantalla.cod {
    width: 100%;
    height: 100%; }
  .marca {
    display: grid;
    justify-content: start; }
  .apunta {
    width: 50%;
    height: 50%;
    margin: 75px 0px 0px 5px;
    display: grid;
    justify-content: center; }
  .emprende {
    width: 50%;
    height: 50%;
    margin: 50px 0px 0px 5px;
    display: grid;
    justify-content: center; }
  .car {
    animation: fadeInDownBig;
    animation-duration: 2s;
    width: 50%;
    height: 50%; } }

nav {
  background-color: black; }
  nav ul li a {
    font-family: 'Dancing Script', cursive;
    margin: 15px;
    justify-content: end; }
  nav .home {
    font-family: 'Barlow Condensed', sans-serif; }
  nav img.logo {
    width: 50px;
    height: 50px;
    float: left; }

header h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 6em; }

header h1 {
  display: inline-block;
  animation: bounceInDown;
  animation-duration: 2s; }

header div {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }

header h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em; }

@media screen and (min-width: 900px) {
  main .coder {
    color: black;
    font-size: 6em;
    font-family: 'Barlow Condensed', sans-serif; }
  main .diseno {
    color: black;
    font-size: 6em;
    font-family: 'Dancing Script'; }
  main p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    color: black; } }

main .diseno {
  display: inline-block;
  margin: 0 0.5rem;
  animation: backInLeft;
  animation-duration: 2s; }

main .coder {
  display: inline-block;
  margin: 0 0.5rem;
  animation: backInRight;
  animation-duration: 2s; }

main ul li {
  list-style-type: none;
  text-decoration: none; }

main .cent {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main h2 {
  font-size: 3em;
  font-family: 'Dancing Script';
  color: black; }

main h3 {
  font-size: 3em;
  font-family: 'Dancing Script';
  color: black; }

main h4 {
  color: black;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif; }

main .telas {
  width: 80%;
  height: 80%; }

main .texto {
  font-size: 3em;
  font-family: 'Barlow Condensed', sans-serif;
  color: #1f001d;
  padding: 15px; }

main .ilustracion {
  justify-content: right;
  margin-left: 10px; }

main .resp {
  display: grid; }

main p.txt {
  font-size: 2em;
  padding: 50px;
  margin: 50px 10px 10px 15px; }

main .charlemos {
  margin: 50px;
  font-size: 1.3em;
  font-family: 'Barlow Condensed', sans-serif; }

main .bot {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main button {
  background-color: black;
  color: black; }

main .item {
  display: grid;
  justify-content: center;
  justify-items: center; }

main .item:hover {
  transform: scale(1.2, 1.2); }

main .tam {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center; }

main .cod {
  width: 100%;
  height: 100%; }

main .pantalla.cod {
  width: 100%;
  height: 100%; }

main .pants {
  display: grid;
  justify-content: center; }

main .preguntas {
  top: 300px;
  margin-bottom: 500px;
  margin-right: 500px;
  margin: 100px 10px 5px 10px;
  color: black; }

main .titulo {
  font-size: 6em; }

main .cod {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounceInDown;
  animation-duration: 2s; }

main .cent {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main .abt {
  display: inline-block;
  margin: 0 0.5rem;
  animation: lightSpeedInLeft;
  animation-duration: 2s; }

main .tada {
  width: 100%;
  height: 100%; }

main .tada:hover {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

main .wpp {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }
  main .wpp p {
    font-size: 2em; }

main .wsp {
  text-decoration: none;
  color: black;
  font-size: 3em; }

main .vid {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main .sus {
  color: black; }

main .apunta {
  width: 480px;
  height: 360px;
  margin: 75px 0px 0px 5px;
  animation: fadeInDownBig;
  animation-duration: 2s; }

main .emprende {
  width: 360px;
  height: 480px; }

main .news {
  display: grid;
  justify-content: center; }

main .carousel {
  display: grid;
  justify-content: start; }

main .fotoNews {
  display: grid;
  justify-content: center; }

main .car {
  animation: fadeInDownBig;
  animation-duration: 2s;
  width: 640px;
  height: 480px; }

main .br {
  margin: 15px;
  padding: 20px;
  text-align: end;
  font-size: 3em; }

footer a {
  text-decoration: none;
  color: black;
  font-size: 1.5em; }

footer p {
  font-family: 'Barlow Condensed', sans-serif; }

body {
  background-image: url(../media/1st-background.jpg);
  background-color: beige;
  background-attachment: fixed;
  background-size: auto;
  display: grid;
  grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer"; }
  body nav {
    grid-area: nav; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }
