$size:3em;
$imagenes: 70%;
$tamano-s: 100px;
$color: black;
$separacion: 100px 10px 5px 10px;
$tamaño-h: 25%;
$tamaño-m: 50%;
@mixin size {
    top: 300px;
    margin-bottom: 500px;
    margin-right: 500px;
    margin: $separacion;
}
@media screen and (min-width:900px){
main {
    .coder{
        color: black;
        font-size:$size*2;
        font-family: 'Barlow Condensed', sans-serif;
        }
    .diseno {
        color: black;
        font-size:$size*2;
        font-family: 'Dancing Script';
        }
    p {
        font-family: 'Barlow Condensed', sans-serif;
        font-size:$size/2;
        color: black;
    }
}}
main {
    // animaciones
    .diseno {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: backInLeft;
        animation-duration: 2s;
    }
    .coder {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: backInRight;
        animation-duration: 2s; 
    }
    ul li {
          list-style-type: none;
          text-decoration: none;
    }
    .cent {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    h2 {
        font-size: $size;
        font-family: 'Dancing Script';
        color: black;   
    }
    h3 {
        font-size: $size;
        font-family: 'Dancing Script';
        color: black;
        
    }
    h4 {
        color: black;
        font-size:$size/2;
        font-family: 'Barlow Condensed', sans-serif;    
    }      
    .telas {
    width: 80%;
    height: 80%;
    }
    .texto {
    font-size: $size;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(31, 0, 29);
    padding: 15px;

    }   
    .ilustracion {
    justify-content: right;
    margin-left: 10px;
    }
    .resp {
    display: grid;
    }
    p.txt {
        font-size: 2em;
        padding: 50px;
        margin: 50px 10px 10px 15px;
    }
    .charlemos {
    margin: $tamano-s/2;
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif;
    }
    .bot {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;        
    }
    button {
    background-color: $color;
    color: $color;
    }
    .item {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .item:hover {
        transform: scale(1.2,1.2);
    } 
    .tam {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .cod {
        width: 100%;
        height: 100%;
    }
    .pantalla.cod {
        width: 100%;
        height: 100%;
    }
    .pants {
        display: grid;
        justify-content: center;
    }
    .preguntas {
        @include size;
        color: black;
    }
    .titulo {
        font-size: $size*2;
    }
    .cod {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: bounceInDown;
        animation-duration: 2s; 
    }
    .cent {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
     }
    .abt {
        display: inline-block;
        margin: 0 0.5rem;
      
        animation: lightSpeedInLeft;
        animation-duration: 2s;     
    }
    .tada {
        width: 100%;
        height: 100%;
    }
    .tada:hover {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: initial;
     }
     
     
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        50% {
            opacity: .5;
        }
        100% {
          opacity: 1;
        }
     }
     .wpp {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        p {
            font-size: 2em;
        }
     }
     .wsp {
         text-decoration: none;
         color: black;
         font-size: $size;
     }
     .vid {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
     }
     .sus {
        color: black;
     }
     .apunta {
        width: 480px;
        height: 360px;
        margin: 75px 0px 0px 5px;
      
        animation: fadeInDownBig;
        animation-duration: 2s;    
     }
     .emprende {
        width: 360px;
        height: 480px;  
     }
     .news{
        display: grid;
        justify-content: center;   
     }
     .carousel {
         display: grid;
         justify-content: start;
     }
     .fotoNews {
        display: grid;
        justify-content: center;
     }
     .car {

         animation: fadeInDownBig;
         animation-duration: 2s;
         width: 640px;
         height: 480px; 
     }
     .br {
        margin: 15px;
        padding: 20px;
        text-align: end;
        font-size: $size; 
     }
}
